@font-face {
  font-family: "systemrequirementscheck";
  src: url("../fonts/systemrequirementscheck.eot");
  src: url("../fonts/systemrequirementscheck.eot?#iefix") format("embedded-opentype"), url("../fonts/systemrequirementscheck.woff") format("woff"), url("../fonts/systemrequirementscheck.ttf") format("truetype"), url("../fonts/systemrequirementscheck.svg#system-requirements-check") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^=icon-], [class*=" icon-"] {
  font-family: "systemrequirementscheck";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-chrome:before {
  content: "\e000";
}

.icon-danger:before {
  content: "\e001";
}

.icon-display:before {
  content: "\e002";
}

.icon-link:before {
  content: "\e003";
}

.icon-ip:before {
  content: "\e004";
}

.icon-edge-legacy:before {
  content: "\e006";
}

.icon-checkmark:before {
  content: "\e007";
}

.icon-safari:before {
  content: "\e009";
}

.icon-opera:before {
  content: "\e00a";
}

.icon-linux:before {
  content: "\e00b";
}

.icon-apple:before {
  content: "\e00c";
}

.icon-java:before {
  content: "\e00d";
}

.icon-javascript:before {
  content: "\e00e";
}

.icon-android:before {
  content: "\e00f";
}

.icon-windows-old:before {
  content: "\e010";
}

.icon-windows-new:before {
  content: "\e011";
}

.icon-warning:before {
  content: "\e012";
}

.icon-firefox:before {
  content: "\e013";
}

.icon-ie:before {
  content: "\e014";
}

.icon-cancel:before {
  content: "a";
}

.icon-edge:before {
  content: "b";
}

#system_requirements_check {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px;
  align-items: stretch;
}
#system_requirements_check .hide {
  display: none;
}
#system_requirements_check .card {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8px;
  color: #000000;
  border: none;
  background: #f8f8f8;
  background: linear-gradient(45deg, rgb(248, 248, 248) 0%, rgb(223, 223, 223) 100%);
  border-radius: 8px;
  box-sizing: border-box;
  height: 260px;
  overflow: hidden;
  box-shadow: 4px 4px 8px 0px #8d8b8b;
}
#system_requirements_check .card .status-icon {
  position: absolute;
  top: 0;
  right: -1px;
  width: 60px;
  height: 60px;
}
#system_requirements_check .card .status-icon [class^=icon-], #system_requirements_check .card .status-icon [class*=" icon-"] {
  display: block;
  position: relative;
  top: 15%;
  left: 50%;
  font-size: 125%;
  z-index: 1;
}
#system_requirements_check .card .status-icon::after {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  --r: 0; /* border radius */
  width: 60px;
  aspect-ratio: 1;
  border-top-right-radius: var(--r);
  clip-path: polygon(100% 100%, 0 0, 100% 0);
  --_g:calc(50%*(1 + 1/tan(22.5deg)) - var(--r)/(3*sqrt(2) - 4));
  --_r:calc(var(--r)/tan(22.5deg)),#000 98%,#0000 101%;
  mask: radial-gradient(var(--r) at top var(--r) left var(--_r)), radial-gradient(var(--r) at right var(--r) bottom var(--_r)), conic-gradient(from 22.5deg at calc(100% - var(--_g)) var(--_g), #000 45deg, rgba(0, 0, 0, 0) 0);
  background-color: #fff;
  content: " ";
  z-index: 0;
}
#system_requirements_check .card .src-icon [class^=icon-], #system_requirements_check .card .src-icon [class*=" icon-"] {
  display: block;
  font-size: 500%;
}
#system_requirements_check .card .src-name {
  font-weight: bold;
  font-size: 110%;
  margin: 16px 0 0;
}
#system_requirements_check .card.success {
  color: #fff;
  background: #156615;
  background: linear-gradient(135deg, rgb(36, 168, 36) 0%, rgb(21, 102, 21) 100%);
}
#system_requirements_check .card.success .status-icon {
  color: #24a824;
}
#system_requirements_check .card .warning {
  color: #ff8100;
}
#system_requirements_check .card .os, #system_requirements_check .card .browser {
  margin: 0;
  padding: 0;
  list-style: none;
}
#system_requirements_check .card .os li, #system_requirements_check .card .browser li {
  display: inline-block;
  margin: 0;
  padding: 0 0 0 40px;
}
#system_requirements_check .card .browser li {
  display: block;
  margin: 0 0 16px 0;
  padding: 0 0 0 35px;
}
#system_requirements_check .card .browser li:last-child {
  margin: 0;
}
#system_requirements_check .card.info {
  border-color: #00aeff;
  background-color: #e6f7ff;
}
#system_requirements_check .card.warning {
  border-color: #ff9200;
  background-color: #fffce7;
}
#system_requirements_check .card.danger {
  border-color: #ff2700;
  background-color: #ffe9e6;
}
#system_requirements_check span[class^=icon-].big,
#system_requirements_check span[class*=" icon-"].big {
  display: inline-block;
  font-size: 200%;
  vertical-align: bottom;
  margin-right: 10px;
}
#system_requirements_check .green {
  color: #00cc00;
}
#system_requirements_check .red {
  color: #ff2700;
}
#system_requirements_check .yellow {
  color: #ff9200;
}
#system_requirements_check .notes {
  font-size: 80%;
  line-height: 1.5;
}